<ion-header>
    <ion-toolbar>
      <ion-title>Hi-Fish</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="allLocationMap()">
          <ion-icon name="pin"></ion-icon>All Location
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <div class="ion-padding">
      <ion-item>
        <ion-label position="floating">Cari Lokasi</ion-label>
        <ion-input type="text" placeholder="Cari Lokasi..." (input)="searchMaps($event)"></ion-input>
      </ion-item>
  
      <ion-list *ngIf="!isfiltered">
        <ion-item *ngFor="let location of locationData" (click)="getLocationDetails(location)">
          <ion-icon name="pin"></ion-icon>{{ location.name }}
          <p>Provinsi: {{ location.province }}</p>
        </ion-item>
      </ion-list>
  
      <ion-list *ngIf="isfiltered">
        <ion-item *ngFor="let location of filteredLocation" (click)="getLocationDetails(location)">
          <h2>
            <ion-icon name="pin"></ion-icon>{{ location.name }}
          </h2>
          <p>Provinsi: {{ location.province }}</p>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
